body.dark-mode {
    background: #0f0f0f;
    color: #e6e6e6;
}

body.dark-mode .glass {
    background: rgba(255,255,255,0.08);
}

body.dark-mode .btn {
    background: #222;
}

#darkToggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 12px 14px;
    background: black;
    color: white;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
